@model CatalogModel
@{
    ViewData["Title"] = "Local Machine";
}

@*<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    @foreach (ChildCatalogDTO child in Model.ChildCatalogDTOs)
    {
        <a asp-action="Index" asp-route-id="@child.Id">@child.Name</a>
    }
</div>*@
